# Project related

# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
classes/
lib/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Node / Neon
native/target
native/index.node
native/artifacts.json
node_modules/

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/

